@if (!string.IsNullOrWhiteSpace(Message))
{
    <div class="alert alert-danger d-flex align-items-start gap-2" role="alert">
        <span class="fa-solid fa-triangle-exclamation" aria-hidden="true"></span>
        <div>@Message</div>
    </div>
}

@code {
    [Parameter]
    public string? Message { get; set; }
}
